<div class="jumbotron text-center">
  <h1>Welcome to Troll Control</h1>
  <h3>A community of paladins seeking to clean up the internet.</h3>
</div>

<h4><em>The internet can be a dark place, full of scum and spurious logic. That's why we created "Troll Control"-- to make the internet a safe from hate, bigotry, and all that goes bump in the night. We have our work cut out for us, but our cause is righteous.</em></h4>