<div class="jumbotron text-center">
  <h1>Welcome to Bombastic</h1>
  <h3>A community of paladins seeking to clean up the Internet.</h3>
</div>

<h4><em>The Internet can be a dark place, full of scum and willful ignorance. That's why we created Bombastic-- to protect our public spaces from hate, bigotry, and all that goes bump in the night. We have our work cut out for us, but our cause is righteous.</em></h4>