/* Users Show Page Styles */

.rank-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: #5f2c82;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #5d3785;
  border-color: #5f2c82;
}

.user-show-avatar {
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

/* Users Index Page Styles */

.user-index-avatar {
  border-radius: 50%;
}
.well.white-bg {
  background-color: white;
}