.rank-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: #5f2c82;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #5d3785;
  border-color: #5f2c82;
}

#profile-avatar img {
  border-radius: 50%;
}